# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Environment variables
.env

# Media files
media/
*.mp4
*.mov
*.avi
*.png
*.svg
*.json

# Virtual Environment
venv/
.venv/
ENV/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Log
*.log

# OS specific files
.DS_Store
Thumbs.db
.windsurfrules
.windsurf
data/
